$ff_default: 'OpenSans', Arial, sans-serif;
$ff_extended: $ff_default;
$ff_title: $ff_default;

$fs_default: 16px;

$lh_default: 1;
$lh_content: 1.4;

$color_default: #61dafb;
$color_link: $color_default;
$color_link_hover: $color_default;
$color_border: $color_default;


$bg_default: #282c34;
