include ../icon/icon
include ../img/img
include ../button/button

mixin wrapper(options = {})
  - const { title = '' } = options;

  section.wrapper
    h1!= title

    +img({ ext: 'png' })
    +icon({ icon: 'webpack' })
