include ../icon/icon

mixin wrapper(options = {})
  - const { title = '' } = options;

  section.wrapper
    +icon()
    +icon({ icon: 'pug' })
    +icon({ icon: 'sass' })
    +icon({ icon: 'javascript' })
